{{!-- Have to put lay --}}
<nav>
  <header class="columns is-marginless">
    <span class="column is-5" id="Velvet">The Velvet Soap Box</span>

    <div
      class="column is-1 is-offset-1 dropdown is-hoverable nav-choice is-paddingless"
    >
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
        >
          <span>Home</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Coming Soon!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-1 dropdown is-hoverable nav-choice is-paddingless">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
        >
          <span>About</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Coming Soon!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-1 dropdown is-hoverable nav-choice is-paddingless">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
        >
          <span>Events</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <a href="/addevent" class="dropdown-item">
            Add event
          </a>
        </div>
        <div class="dropdown-content">
          <a href="/viewevents" class="dropdown-item">
            View listed events
          </a>
        </div>
      </div>
    </div>

    <div class="column is-1 dropdown is-hoverable nav-choice is-paddingless">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
        >
          <span>FAQ</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Coming Soon!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-1 dropdown is-hoverable nav-choice is-paddingless">
      <div class="dropdown-trigger">
        <button
          class="button"
          aria-haspopup="true"
          aria-controls="dropdown-menu"
        >
          <span>Account</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item">
            Account Info
          </a>
          <a href="#" class="dropdown-item">
            Your Events
          </a>
          <a href="#" class="dropdown-item" id="logout">
            Logout
          </a>
          <hr class="dropdown-divider" />
          <a href="/login" class="dropdown-item">
            Login
          </a>
          <a href="/signup" class="dropdown-item">
            Sign up
          </a>
        </div>
      </div>
    </div>

    <!-- <a class="column is-1 is-offset-1 nav-choice is-paddingless"><span>Home</span></a>
    <a class="column is-1 nav-choice is-paddingless"><span>About Us</span></a>
    <a href="./viewevents.html" class="column is-1 nav-choice is-paddingless"><span>Events</span></a>
    <a class="column is-1 nav-choice is-paddingless"><span>FAQ</span></a>
    <a href="./login.html" class="column is-1 nav-choice is-paddingless"><span>Account</span></a> -->
  </header>
  <span class="divider"></span>
</nav>
<main>
  <span>
    <!-- <div class="is-justify-content-center" id="search">
                    <button class="button is-success is-dark is-large is-rounded" id='searchButton'>Search
                        Events</button>
            </div> -->
  </span>
  <!-- need to link the event to the modal card -->
  <!-- to add columns for the images we will need to add a column contatiner (div) and add class when also creating the element under ln-25 of JS - see https://bulma.io/documentation/columns/basics/ -->
</main>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"
></script>
<script
  src="https://kit.fontawesome.com/9cd729a254.js"
  crossorigin="anonymous"
></script>
<script>
  let autocomplete; function initAutocomplete() { autocomplete = new
  google.maps.places.Autocomplete( document.getElementById('input'), { types:
  ['(cities)'], fields: ['place_id', 'geometry', 'name'] } ) }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB--9um6iLDl4i8GW9df65UqfPtjuc-DMI&libraries=places&callback=initAutocomplete"
  async
  defer
></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="js/logout.js"></script>
<!-- Put any js script relating to HTML in the public JS folder (js/<fileName.js>) -->
{{!-- <img src="images/splashimage.jpg" alt="" id="backg" /> --}}