<a href="/"><button class="btn btn-primary" type="button">Home</button></a>

<h1>Upcoming Events</h1>
<h2 id="eventNameId">The Den of Debauchery 3</h2>
<h3 id="producerId">Basement Burlesque Presents</h3>
<h3 id="locationId">Swan Basement Fremantle</h3>
<h3 id="startDate">8:00pm Friday August 6 2021</h3>
<h3 id="endDate">10:30pm Friday August 6 2021</h3>
<h3>Event Summary</h3>
<br />
<p id="summary">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Et earum architecto soluta, sequi neque nemo iste, dignissimos eius facilis nihil, iure cupiditate totam officia odio unde illum asperiores suscipit dolore. Eius, laudantium. Possimus consequuntur architecto voluptate tenetur, neque provident quaerat tempora odio porro dolor exercitationem nihil eveniet numquam ipsam repellendus iusto eius animi ea doloribus amet rerum veniam eum quidem. Ex in numquam dolore ipsam earum! Laudantium porro numquam fugiat totam nulla, aspernatur similique accusamus dicta excepturi debitis ut illum nesciunt. Similique distinctio molestias laboriosam, nihil excepturi numquam alias temporibus? Nisi porro libero vero dolores, iusto eligendi possimus odio labore.

</p>
<h4 id="urlId">www.humantix.com.au/ticketlink</h4>
<img
  id="imageId"
  src="/images/Den again.jpg"
  alt="Image of Den of Debauchery"
/>
<!-- changed source destination above to public folder -->